.App{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #003;
}

.App h1{
    color: #aaa;
    font-size: 3rem;
}
.App p{
    color: #aaf;
    font-size: 2rem;
}